<h1>Listing imports</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th>Id</th>
      <th>Created At</th>
      <th>File Name</th>
      <th></th>
      <th></th>
    </tr>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.created_at %></td>
        <td><%= import.file_name %></td>
        <td><%= link_to 'Show', import %></td>
        <td><%= link_to 'Destroy', import, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Import', new_import_path %>
