<p id="notice"><%= notice %></p>

Import Id : <%= @import.id %><br/>
Created At : <%= @import.created_at %><br/>
File Name : <%= @import.file_name %><br/>
Gross Revenue : <%= @import.gross_revenue %><br/>

<%= link_to 'View all imports', imports_path %>
